header {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

h1 {
  color: black;
  font-family: sans-serif;
  margin: 1em 0 0.5em;
  text-shadow: -3px -3px 0 yellow , 3px
    -3px 0 yellow , -3px 3px 0 yellow , 3px 3px 0 yellow;
}

h2 {
  color: yellow;
  font-size: 80%;
}
