.header {
  text-align: center;
  margin: 1em 0 0.5em 0;
	color: #EE9B00;
	font-weight: normal;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 36px;
	line-height: 42px;
}