.planets-table {
  background-color: black;
  color: white;
  flex: auto;
  font-family: Fira Sans , sans-serif;
  font-size: 15px;
  padding: 10px 40px;
}

.planets-table th {
  flex-direction: column;
  font-weight: 700;
  padding: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

.planets-table td {
  border-top: 2px solid rgba(200, 200, 200, 0.438);
  flex-direction: row;
  font-size: 15px;
  padding: 1em 0.5em;
  text-align: center;
}
