.table-planets {
  display: flex;
  flex-direction: row;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

div {
  display: flex;
  flex-direction: row;
}

table {
  background-color: black;
}

tr {
  color: white;
  margin: 5px;
  padding: 3px;
}

td {
  color: white;
  margin: 5px;
}

tr:hover {
  background-color: rgb(150, 149, 149);
}
