* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  margin: auto;
}


.App-header {
  background-color: black;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  padding: 50px;
}

.App-header li{
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.del-btn {
  border: none;
  background-color: black;
  color: red;
  cursor: pointer;
}

.filter-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-by-name {
  display:flex;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  text-align: center;
}

.filter-form {
  display: flex;
  margin: 10px;
}

.filter-sort {
  margin: 10px;
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.table-container {
  background-color: black;
  padding: 10px;
  color: white;
  min-height: 100vh;
}

.table {
  padding: 10px;
}

.table thead {
  border: solid 1px white;
}

.table tr:nth-child(even){
  background-color: rgb(91, 67, 0);
}

.table tr:hover{
  background-color: rgb(175, 131, 0);
}

.list-url {
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
