body {
  background-image: url('./images/star-wars-backgrounds-08.jpg');
  background-size: 100vw;
  margin: 0;
}

header {
  align-items: center;
  background-color: black , 0.3;
  color: rgb(255, 232, 31);
  display: flex;
  flex-direction: column;
  font-family: Days One , sans-serif;
  font-size: 10pt;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  margin-top: 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.input-control {
  border-radius: 5px;
  margin-right: 8px;
  padding: 8px;
}

.filter {
  align-items: center;
  background-color: rgb(235, 255, 255, 0.65);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content:flex-start;
  height: 25px;
  margin-left: 100px;
  margin-bottom: 5px;
  margin-top: -5px;
  padding: 0 5px;
  width: fit-content;
}

.filter p {
  margin-right: 5px;
}

.filter-btn {
  background-color: rgb(255, 232, 31);
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: Days One , sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  touch-action: manipulation;
  transition: 200ms;
  user-select: none;
  width: 100%;
  -webkit-user-select: none;
}

.filter-btn:not(:disabled):hover,
.filter-btn:not(:disabled):focus {
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  outline: 0;
}

.filter-btn:disabled {
  cursor: not-allowed;
  filter: saturate(0.2) opacity(0.5);
}

.delete-btn {
  border-radius: 30%;
  font-size: 10pt;
  opacity: 0.4;
  padding: 0px 5px;
}

.delete-btn:hover,
.delete-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff0800;
}

.delete-btn:active {
  opacity: .8;
}

/* buttons -> https://getcssscan.com/css-buttons-examples */

.search-input {
  margin-top: -10px;
  width: 100%;
}

table {
  background-color: rgb(255, 255, 255, 0.35);
  border: 2px solid white;
  border-collapse: collapse;
  font-family: Days One , sans-serif;
  font-size: 8pt;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

table td, table th {
  border: 1px solid white;
  padding: 3px;
}

table thead {
  background-color: rgb(255, 255, 255, 0.3);
  border-bottom: 4px solid #333;
}

table thead th {
  border-left: 2px solid #333;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 14px;
}

/* table -> https://divtable.com/table-styler/ */
